Repository project-studying-dotnet/Streetcode-Admin-March-01, pull requests merged in 2024-03, with the labels that each got.

#17 Move Program into a named namespace in DbUpdate project
  Streetcode/DbUpdate/Program.cs
Labels: bug

#24 bugFix in GetNewsAndLinksByUrlHandler
  Streetcode/Streetcode.BLL/MediatR/Newss/GetNewsAndLinksByUrl/GetNewsAndLinksByUrlHandler.cs
Labels: bug

#27 Added unit tests for Media/Video GetVideoByIdHandler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Video/GetVideoByIdTest.cs
Labels: test

#23 Test/streetcode Fact get by Id
  Streetcode/Streetcode.WebApi/Program.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/GetFactByIdTests.cs
Labels: test

#40 Added unit tests for Media/Image GetImageByIdHandler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Image/GetImageByIdHandlerTests.cs
Labels: test

#38 Added unit tests for Media/Image GetAllImagesHandler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Image/GetAllImageHandlerTests.cs
Labels: test

#36 Added unit tests for Media/Audio GetAudioByIdHandler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Audio/GetAudioByIdHandlerTests.cs
Labels: test

#34 Added unit tests for Media/Audio GetAllAudiosHandler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Audio/GetAllAudioHandlerTests.cs
Labels: test

#32 Added unit tests for Media/Art GetArtByIdHandler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetArtByIdTest.cs
Labels: test

#30 Added unit tests for Media/Art GetAllArtsHandler
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetAllArtTest.cs
Labels: test

#46 Enhancement/resolve stylecop analyser warnings And bring the test code to these requirements
  Streetcode/Streetcode.BLL/Streetcode.BLL.csproj
  Streetcode/Streetcode.WebApi/Streetcode.WebApi.csproj
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Audio/GetAllAudioHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Audio/GetAudioByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Image/GetAllImageHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Image/GetImageByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Video/GetAllVideosTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Video/GetVideoByIdTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/GetAllFactsTests.cs
  Streetcode/Streetcode.XUnitTest/Streetcode.XUnitTest.csproj
  Streetcode/settings.ruleset
Labels: enhancement

#76 test/get-all-texts-handler: add tests
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Text/GetAllTextsTests.cs
Labels: test

#75 Added tests for Get_All_Partners
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/GetAllPartnersTest.cs
Labels: test

#83 Fixed DistinctBy method in GetToponymsByStreetcodeIdHandler Class
  Streetcode/Streetcode.BLL/MediatR/Toponyms/GetByStreetcodeId/GetToponymsByStreetcodeIdHandler.cs
Labels: bug

#85 Deleted FactUpdateCreateDto class and reference
  Streetcode/Streetcode.BLL/DTO/Streetcode/TextContent/Fact/FactUpdateCreateDto.cs
  Streetcode/Streetcode.BLL/Mapping/Streetcode/TextContent/FactProfile.cs
Labels: code smell

#87 Fix Get Endpoints of Fact
  Streetcode/Streetcode.BLL/DTO/Streetcode/TextContent/Fact/FactDTO.cs
Labels: story feature

#92 test/get-text-by-id: add tests
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Text/GetTextByIdTests.cs
Labels: test

#77 fact delete functionality
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Delete/DeleteFactCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Delete/DeleteFactHandler.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/FactController.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/DeleteFactTests.cs
Labels: story feature

#91 Feat/67/add create logic for interesting facts block
  Streetcode/Streetcode.BLL/DTO/Streetcode/TextContent/Fact/CreateFactDTO.cs
  Streetcode/Streetcode.BLL/Mapping/Streetcode/TextContent/FactProfile.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Create/CreateFactCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Create/CreateFactHandler.cs
  Streetcode/Streetcode.BLL/Resources/Errors/CannotCreateEntityErrors.Designer.cs
  Streetcode/Streetcode.BLL/Resources/Errors/CannotCreateEntityErrors.resx
  Streetcode/Streetcode.BLL/Resources/Errors/CannotFindEntityErrors.Designer.cs
  Streetcode/Streetcode.BLL/Resources/Errors/CannotFindEntityErrors.resx
  Streetcode/Streetcode.BLL/Resources/Errors/ValidationErrors/Fact/CreateFactErrors.Designer.cs
  Streetcode/Streetcode.BLL/Resources/Errors/ValidationErrors/Fact/CreateFactErrors.resx
  Streetcode/Streetcode.BLL/Streetcode.BLL.csproj
  Streetcode/Streetcode.DAL/Repositories/Interfaces/Streetcode/TextContent/IFactRepository.cs
  Streetcode/Streetcode.DAL/Repositories/Realizations/Streetcode/TextContent/FactRepository.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/FactController.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/Create/CreateFactHandlerTests.cs
Labels: story feature

#100 feat/Resource_file_for_error_messages
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Delete/DeleteFactHandler.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/GetByStreetcodeId/GetFactByStreetcodeIdHandler.cs
  Streetcode/Streetcode.BLL/Resources/Errors/ErrorMessages.Designer.cs
  Streetcode/Streetcode.BLL/Resources/Errors/ErrorMessages.resx
  Streetcode/Streetcode.BLL/Streetcode.BLL.csproj
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/DeleteFactTests.cs
Labels: enhancement

#101 Remove unused variable Result in Handler Tests for removing warnings
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Streetcode/GetByFilter/GetStreetcodeByFilterHandler.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetAllArtTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Art/GetArtByIdTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Audio/GetAllAudioHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Audio/GetAudioByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Image/GetAllImageHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Image/GetImageByIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Video/GetAllVideosTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Media/Video/GetVideoByIdTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/Partners/GetAllPartnersTest.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/DeleteFactTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/GetAllFactsTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/GetFactByIdTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/GetFactByStreetcodeIdHandlerTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Text/GetAllTextsTests.cs
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Text/GetTextByIdTests.cs
Labels: code smell

#106 Fix code smells in tests for GetAll and GetById handlers
  Streetcode/Streetcode.DAL/Repositories/Interfaces/Base/IRepositoryBase.cs
  Streetcode/Streetcode.DAL/Repositories/Realizations/Base/RepositoryBase.cs
Labels: code smell

#104 Change Error messages in ReorderFactHandler
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Reorder/ReorderFactHandler.cs
  Streetcode/Streetcode.BLL/Resources/Errors/CannotFindEntityErrors.Designer.cs
  Streetcode/Streetcode.BLL/Resources/Errors/CannotFindEntityErrors.resx
  Streetcode/Streetcode.BLL/Resources/Errors/CannotUpdateEntityErrors.Designer.cs
  Streetcode/Streetcode.BLL/Resources/Errors/CannotUpdateEntityErrors.resx
  Streetcode/Streetcode.BLL/Resources/Errors/ValidationErrors/Fact/ReorderFactErrors.Designer.cs
  Streetcode/Streetcode.BLL/Resources/Errors/ValidationErrors/Fact/ReorderFactErrors.resx
Labels: story feature

#107 Write unit tests for Fact/ReorderFacts
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Reorder/ReorderFactHandler.cs
  Streetcode/Streetcode.BLL/Resources/Errors/ValidationErrors/Fact/ReorderFactErrors.Designer.cs
  Streetcode/Streetcode.BLL/Resources/Errors/ValidationErrors/Fact/ReorderFactErrors.resx
  Streetcode/Streetcode.XUnitTest/MediatRTests/StreetCode/Fact/ReorderFactHandlerTests.cs
  Streetcode/settings.ruleset
Labels: test

#111 feat/interesting-facts-block: implement update logic for Interesting …
  Streetcode/Streetcode.BLL/DTO/Streetcode/TextContent/Fact/FactForUpdateDto.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Update/FactForUpdateCommand.cs
  Streetcode/Streetcode.BLL/MediatR/Streetcode/Fact/Update/FactForUpdateHandler.cs
  Streetcode/Streetcode.WebApi/Controllers/Streetcode/TextContent/FactController.cs
Labels: story feature

#114 Style/move ef configurations to separate classes
  Streetcode/Streetcode.DAL/Persistence/Configurations/CoordinateEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/HistoricalContextTimelineEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/ImageEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/NewsEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/PartnerEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/RelatedFigureEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/RelatedTermEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/SourceLinkCategoryEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/StatisticRecordEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/StreetcodeArtEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/StreetcodeContentEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/StreetcodeTagIndexEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/TagEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/TeamMemberEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/TeamMemberPositionsEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/Configurations/ToponymEntityTypeConfiguration.cs
  Streetcode/Streetcode.DAL/Persistence/StreetcodeDbContext.cs
Labels: enhancement
